Git/Drawdede-cliente/web/WEB-INF/wsdl/localhost_8080/Drawdede-war/DrawdedeWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="ParseException" type="tns:ParseException"/>

<xs:element name="createEntrega" type="tns:createEntrega"/>

<xs:element name="createHasEntrega" type="tns:createHasEntrega"/>

<xs:element name="createSerie" type="tns:createSerie"/>

<xs:element name="editEntrega" type="tns:editEntrega"/>

<xs:element name="editHasEntrega" type="tns:editHasEntrega"/>

<xs:element name="editSerie" type="tns:editSerie"/>

<xs:element name="entrega" type="tns:entrega"/>

<xs:element name="filtrarEntregaPorPeriodoTiempo" type="tns:filtrarEntregaPorPeriodoTiempo"/>

<xs:element name="filtrarEntregaPorPeriodoTiempoResponse" type="tns:filtrarEntregaPorPeriodoTiempoResponse"/>

<xs:element name="filtroPorAnotacionEntrega" type="tns:filtroPorAnotacionEntrega"/>

<xs:element name="filtroPorAnotacionEntregaResponse" type="tns:filtroPorAnotacionEntregaResponse"/>

<xs:element name="findAllEntregas" type="tns:findAllEntregas"/>

<xs:element name="findAllEntregasResponse" type="tns:findAllEntregasResponse"/>

<xs:element name="findAllHasEntregas" type="tns:findAllHasEntregas"/>

<xs:element name="findAllHasEntregasResponse" type="tns:findAllHasEntregasResponse"/>

<xs:element name="findAllSeries" type="tns:findAllSeries"/>

<xs:element name="findAllSeriesResponse" type="tns:findAllSeriesResponse"/>

<xs:element name="findEntrega" type="tns:findEntrega"/>

<xs:element name="findEntregaResponse" type="tns:findEntregaResponse"/>

<xs:element name="findEntregasConIdSerie" type="tns:findEntregasConIdSerie"/>

<xs:element name="findEntregasConIdSerieResponse" type="tns:findEntregasConIdSerieResponse"/>

<xs:element name="findHasEntrega" type="tns:findHasEntrega"/>

<xs:element name="findHasEntregaResponse" type="tns:findHasEntregaResponse"/>

<xs:element name="findSerie" type="tns:findSerie"/>

<xs:element name="findSerieConEntrega" type="tns:findSerieConEntrega"/>

<xs:element name="findSerieConEntregaResponse" type="tns:findSerieConEntregaResponse"/>

<xs:element name="findSerieConId" type="tns:findSerieConId"/>

<xs:element name="findSerieConIdResponse" type="tns:findSerieConIdResponse"/>

<xs:element name="findSerieConTitulo" type="tns:findSerieConTitulo"/>

<xs:element name="findSerieConTituloResponse" type="tns:findSerieConTituloResponse"/>

<xs:element name="findSerieResponse" type="tns:findSerieResponse"/>

<xs:element name="getBestValSerie" type="tns:getBestValSerie"/>

<xs:element name="getBestValSerieResponse" type="tns:getBestValSerieResponse"/>

<xs:element name="getCategoriasSerie" type="tns:getCategoriasSerie"/>

<xs:element name="getCategoriasSerieResponse" type="tns:getCategoriasSerieResponse"/>

<xs:element name="getFechaEntregaNotNull" type="tns:getFechaEntregaNotNull"/>

<xs:element name="getFechaEntregaNotNullResponse" type="tns:getFechaEntregaNotNullResponse"/>

<xs:element name="getHulksEntregas" type="tns:getHulksEntregas"/>

<xs:element name="getHulksEntregasResponse" type="tns:getHulksEntregasResponse"/>

<xs:element name="getWorstValSerie" type="tns:getWorstValSerie"/>

<xs:element name="getWorstValSerieResponse" type="tns:getWorstValSerieResponse"/>

<xs:element name="hasEntrega" type="tns:hasEntrega"/>

<xs:element name="removeEntrega" type="tns:removeEntrega"/>

<xs:element name="removeHasEntrega" type="tns:removeHasEntrega"/>

<xs:element name="removeSerie" type="tns:removeSerie"/>

<xs:element name="serie" type="tns:serie"/>

<xs:complexType name="findSerieConId">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findSerieConIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:serie" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="serie">
<xs:sequence>
<xs:element name="categoria" type="xs:string" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="titulo" type="xs:string" minOccurs="0"/>
<xs:element name="valoracion" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeEntrega">
<xs:sequence>
<xs:element name="entity" type="tns:entrega" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="entrega">
<xs:sequence>
<xs:element name="anotacion" type="xs:string" minOccurs="0"/>
<xs:element name="fechaEntrega" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getHulksEntregas">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getHulksEntregasResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findSerie">
<xs:sequence>
<xs:element name="id" type="xs:anyType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findSerieResponse">
<xs:sequence>
<xs:element name="return" type="tns:serie" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findSerieConEntrega">
<xs:sequence>
<xs:element name="entrega" type="tns:entrega" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findSerieConEntregaResponse">
<xs:sequence>
<xs:element name="return" type="tns:serie" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getCategoriasSerie">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getCategoriasSerieResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findSerieConTitulo">
<xs:sequence>
<xs:element name="titulo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findSerieConTituloResponse">
<xs:sequence>
<xs:element name="return" type="tns:serie" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editHasEntrega">
<xs:sequence>
<xs:element name="entity" type="tns:hasEntrega" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hasEntrega">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="idEntrega" type="tns:entrega" minOccurs="0"/>
<xs:element name="idSerie" type="tns:serie" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAllSeries">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllSeriesResponse">
<xs:sequence>
<xs:element name="return" type="tns:serie" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editEntrega">
<xs:sequence>
<xs:element name="entity" type="tns:entrega" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="filtroPorAnotacionEntrega">
<xs:sequence>
<xs:element name="anotacion" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="filtroPorAnotacionEntregaResponse">
<xs:sequence>
<xs:element name="return" type="tns:entrega" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getWorstValSerie">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getWorstValSerieResponse">
<xs:sequence>
<xs:element name="return" type="tns:serie" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createEntrega">
<xs:sequence>
<xs:element name="entity" type="tns:entrega" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeHasEntrega">
<xs:sequence>
<xs:element name="entity" type="tns:hasEntrega" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findEntregasConIdSerie">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findEntregasConIdSerieResponse">
<xs:sequence>
<xs:element name="return" type="tns:entrega" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFechaEntregaNotNull">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getFechaEntregaNotNullResponse">
<xs:sequence>
<xs:element name="return" type="tns:entrega" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createSerie">
<xs:sequence>
<xs:element name="entity" type="tns:serie" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editSerie">
<xs:sequence>
<xs:element name="entity" type="tns:serie" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="filtrarEntregaPorPeriodoTiempo">
<xs:sequence>
<xs:element name="d1" type="xs:string" minOccurs="0"/>
<xs:element name="d2" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="filtrarEntregaPorPeriodoTiempoResponse">
<xs:sequence>
<xs:element name="return" type="tns:entrega" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ParseException">
<xs:sequence>
<xs:element name="errorOffset" type="xs:int"/>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAllEntregas">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllEntregasResponse">
<xs:sequence>
<xs:element name="return" type="tns:entrega" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeSerie">
<xs:sequence>
<xs:element name="entity" type="tns:serie" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBestValSerie">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getBestValSerieResponse">
<xs:sequence>
<xs:element name="return" type="tns:serie" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findHasEntrega">
<xs:sequence>
<xs:element name="id" type="xs:anyType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findHasEntregaResponse">
<xs:sequence>
<xs:element name="return" type="tns:hasEntrega" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findEntrega">
<xs:sequence>
<xs:element name="id" type="xs:anyType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findEntregaResponse">
<xs:sequence>
<xs:element name="return" type="tns:entrega" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAllHasEntregas">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllHasEntregasResponse">
<xs:sequence>
<xs:element name="return" type="tns:hasEntrega" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createHasEntrega">
<xs:sequence>
<xs:element name="entity" type="tns:hasEntrega" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>