Git/DrawDD-cliente/src/conf/xml-resources/web-service-references/EntregaWS/wsdl/localhost_8080/EntregaWS/EntregaWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="EntregaWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/EntregaWS/EntregaWS?xsd=1"/>
</xsd:schema>
</types>
<message name="remove">
<part name="parameters" element="tns:remove"/>
</message>
<message name="count">
<part name="parameters" element="tns:count"/>
</message>
<message name="countResponse">
<part name="parameters" element="tns:countResponse"/>
</message>
<message name="find">
<part name="parameters" element="tns:find"/>
</message>
<message name="findResponse">
<part name="parameters" element="tns:findResponse"/>
</message>
<message name="create">
<part name="parameters" element="tns:create"/>
</message>
<message name="findAll">
<part name="parameters" element="tns:findAll"/>
</message>
<message name="findAllResponse">
<part name="parameters" element="tns:findAllResponse"/>
</message>
<message name="getFechaEntregaNotNull">
<part name="parameters" element="tns:getFechaEntregaNotNull"/>
</message>
<message name="getFechaEntregaNotNullResponse">
<part name="parameters" element="tns:getFechaEntregaNotNullResponse"/>
</message>
<message name="filtrarPorAnotacion">
<part name="parameters" element="tns:filtrarPorAnotacion"/>
</message>
<message name="filtrarPorAnotacionResponse">
<part name="parameters" element="tns:filtrarPorAnotacionResponse"/>
</message>
<message name="filtrarPorPeriodoTiempo">
<part name="parameters" element="tns:filtrarPorPeriodoTiempo"/>
</message>
<message name="filtrarPorPeriodoTiempoResponse">
<part name="parameters" element="tns:filtrarPorPeriodoTiempoResponse"/>
</message>
<message name="ParseException">
<part name="fault" element="tns:ParseException"/>
</message>
<message name="findRange">
<part name="parameters" element="tns:findRange"/>
</message>
<message name="findRangeResponse">
<part name="parameters" element="tns:findRangeResponse"/>
</message>
<message name="edit">
<part name="parameters" element="tns:edit"/>
</message>
<message name="getHulks">
<part name="parameters" element="tns:getHulks"/>
</message>
<message name="getHulksResponse">
<part name="parameters" element="tns:getHulksResponse"/>
</message>
<portType name="EntregaWS">
<operation name="remove">
<input wsam:Action="http://ws/EntregaWS/remove" message="tns:remove"/>
</operation>
<operation name="count">
<input wsam:Action="http://ws/EntregaWS/countRequest" message="tns:count"/>
<output wsam:Action="http://ws/EntregaWS/countResponse" message="tns:countResponse"/>
</operation>
<operation name="find">
<input wsam:Action="http://ws/EntregaWS/findRequest" message="tns:find"/>
<output wsam:Action="http://ws/EntregaWS/findResponse" message="tns:findResponse"/>
</operation>
<operation name="create">
<input wsam:Action="http://ws/EntregaWS/create" message="tns:create"/>
</operation>
<operation name="findAll">
<input wsam:Action="http://ws/EntregaWS/findAllRequest" message="tns:findAll"/>
<output wsam:Action="http://ws/EntregaWS/findAllResponse" message="tns:findAllResponse"/>
</operation>
<operation name="getFechaEntregaNotNull">
<input wsam:Action="http://ws/EntregaWS/getFechaEntregaNotNullRequest" message="tns:getFechaEntregaNotNull"/>
<output wsam:Action="http://ws/EntregaWS/getFechaEntregaNotNullResponse" message="tns:getFechaEntregaNotNullResponse"/>
</operation>
<operation name="filtrarPorAnotacion">
<input wsam:Action="http://ws/EntregaWS/filtrarPorAnotacionRequest" message="tns:filtrarPorAnotacion"/>
<output wsam:Action="http://ws/EntregaWS/filtrarPorAnotacionResponse" message="tns:filtrarPorAnotacionResponse"/>
</operation>
<operation name="filtrarPorPeriodoTiempo">
<input wsam:Action="http://ws/EntregaWS/filtrarPorPeriodoTiempoRequest" message="tns:filtrarPorPeriodoTiempo"/>
<output wsam:Action="http://ws/EntregaWS/filtrarPorPeriodoTiempoResponse" message="tns:filtrarPorPeriodoTiempoResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://ws/EntregaWS/filtrarPorPeriodoTiempo/Fault/ParseException"/>
</operation>
<operation name="findRange">
<input wsam:Action="http://ws/EntregaWS/findRangeRequest" message="tns:findRange"/>
<output wsam:Action="http://ws/EntregaWS/findRangeResponse" message="tns:findRangeResponse"/>
</operation>
<operation name="edit">
<input wsam:Action="http://ws/EntregaWS/edit" message="tns:edit"/>
</operation>
<operation name="getHulks">
<input wsam:Action="http://ws/EntregaWS/getHulksRequest" message="tns:getHulks"/>
<output wsam:Action="http://ws/EntregaWS/getHulksResponse" message="tns:getHulksResponse"/>
</operation>
</portType>
<binding name="EntregaWSPortBinding" type="tns:EntregaWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="remove">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="count">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="find">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="create">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFechaEntregaNotNull">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="filtrarPorAnotacion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="filtrarPorPeriodoTiempo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="findRange">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="edit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getHulks">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="EntregaWS">
<port name="EntregaWSPort" binding="tns:EntregaWSPortBinding">
<soap:address location="http://localhost:8080/EntregaWS/EntregaWS"/>
</port>
</service>
</definitions>