Git/Drawdede-cliente/src/conf/xml-resources/web-service-references/EntregaWebService/wsdl/localhost_8080/Drawdede-war/EntregaWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://soapws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://soapws/">

<xs:element name="ParseException" type="tns:ParseException"/>

<xs:element name="count" type="tns:count"/>

<xs:element name="countResponse" type="tns:countResponse"/>

<xs:element name="create" type="tns:create"/>

<xs:element name="edit" type="tns:edit"/>

<xs:element name="entrega" type="tns:entrega"/>

<xs:element name="filtrarPorPeriodoTiempo" type="tns:filtrarPorPeriodoTiempo"/>

<xs:element name="filtrarPorPeriodoTiempoResponse" type="tns:filtrarPorPeriodoTiempoResponse"/>

<xs:element name="filtroPorAnotacion" type="tns:filtroPorAnotacion"/>

<xs:element name="filtroPorAnotacionResponse" type="tns:filtroPorAnotacionResponse"/>

<xs:element name="find" type="tns:find"/>

<xs:element name="findAll" type="tns:findAll"/>

<xs:element name="findAllResponse" type="tns:findAllResponse"/>

<xs:element name="findRange" type="tns:findRange"/>

<xs:element name="findRangeResponse" type="tns:findRangeResponse"/>

<xs:element name="findResponse" type="tns:findResponse"/>

<xs:element name="getFechaEntregaNotNull" type="tns:getFechaEntregaNotNull"/>

<xs:element name="getFechaEntregaNotNullResponse" type="tns:getFechaEntregaNotNullResponse"/>

<xs:element name="getHulks" type="tns:getHulks"/>

<xs:element name="getHulksResponse" type="tns:getHulksResponse"/>

<xs:element name="remove" type="tns:remove"/>

<xs:element name="serie" type="tns:serie"/>

<xs:complexType name="find">
<xs:sequence>
<xs:element name="id" type="xs:anyType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findResponse">
<xs:sequence>
<xs:element name="return" type="tns:serie" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="serie">
<xs:sequence>
<xs:element name="categoria" type="xs:string" minOccurs="0"/>
<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="titulo" type="xs:string" minOccurs="0"/>
<xs:element name="valoracion" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRange">
<xs:sequence>
<xs:element name="range" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRangeResponse">
<xs:sequence>
<xs:element name="return" type="tns:serie" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFechaEntregaNotNull">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getFechaEntregaNotNullResponse">
<xs:sequence>
<xs:element name="return" type="tns:entrega" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="entrega">
<xs:sequence>
<xs:element name="anotacion" type="xs:string" minOccurs="0"/>
<xs:element name="fechaEntrega" type="xs:dateTime" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="edit">
<xs:sequence>
<xs:element name="entity" type="tns:serie" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="remove">
<xs:sequence>
<xs:element name="entity" type="tns:serie" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getHulks">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getHulksResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="filtrarPorPeriodoTiempo">
<xs:sequence>
<xs:element name="d1" type="xs:string" minOccurs="0"/>
<xs:element name="d2" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="filtrarPorPeriodoTiempoResponse">
<xs:sequence>
<xs:element name="return" type="tns:entrega" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ParseException">
<xs:sequence>
<xs:element name="errorOffset" type="xs:int"/>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAll">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllResponse">
<xs:sequence>
<xs:element name="return" type="tns:serie" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="filtroPorAnotacion">
<xs:sequence>
<xs:element name="anotacion" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="filtroPorAnotacionResponse">
<xs:sequence>
<xs:element name="return" type="tns:entrega" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="count">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="countResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="create">
<xs:sequence>
<xs:element name="entity" type="tns:serie" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>