Git/DrawDD-cliente/src/conf/xml-resources/web-service-references/SerieWS/wsdl/localhost_8080/SerieWS/SerieWS.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="SerieWS">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/SerieWS/SerieWS?xsd=1"/>
</xsd:schema>
</types>
<message name="remove">
<part name="parameters" element="tns:remove"/>
</message>
<message name="count">
<part name="parameters" element="tns:count"/>
</message>
<message name="countResponse">
<part name="parameters" element="tns:countResponse"/>
</message>
<message name="find">
<part name="parameters" element="tns:find"/>
</message>
<message name="findResponse">
<part name="parameters" element="tns:findResponse"/>
</message>
<message name="create">
<part name="parameters" element="tns:create"/>
</message>
<message name="findAll">
<part name="parameters" element="tns:findAll"/>
</message>
<message name="findAllResponse">
<part name="parameters" element="tns:findAllResponse"/>
</message>
<message name="getBestValSerie">
<part name="parameters" element="tns:getBestValSerie"/>
</message>
<message name="getBestValSerieResponse">
<part name="parameters" element="tns:getBestValSerieResponse"/>
</message>
<message name="findRange">
<part name="parameters" element="tns:findRange"/>
</message>
<message name="findRangeResponse">
<part name="parameters" element="tns:findRangeResponse"/>
</message>
<message name="edit">
<part name="parameters" element="tns:edit"/>
</message>
<message name="getCategorias">
<part name="parameters" element="tns:getCategorias"/>
</message>
<message name="getCategoriasResponse">
<part name="parameters" element="tns:getCategoriasResponse"/>
</message>
<message name="findConTitulo">
<part name="parameters" element="tns:findConTitulo"/>
</message>
<message name="findConTituloResponse">
<part name="parameters" element="tns:findConTituloResponse"/>
</message>
<portType name="SerieWS">
<operation name="remove">
<input wsam:Action="http://ws/SerieWS/remove" message="tns:remove"/>
</operation>
<operation name="count">
<input wsam:Action="http://ws/SerieWS/countRequest" message="tns:count"/>
<output wsam:Action="http://ws/SerieWS/countResponse" message="tns:countResponse"/>
</operation>
<operation name="find">
<input wsam:Action="http://ws/SerieWS/findRequest" message="tns:find"/>
<output wsam:Action="http://ws/SerieWS/findResponse" message="tns:findResponse"/>
</operation>
<operation name="create">
<input wsam:Action="http://ws/SerieWS/create" message="tns:create"/>
</operation>
<operation name="findAll">
<input wsam:Action="http://ws/SerieWS/findAllRequest" message="tns:findAll"/>
<output wsam:Action="http://ws/SerieWS/findAllResponse" message="tns:findAllResponse"/>
</operation>
<operation name="getBestValSerie">
<input wsam:Action="http://ws/SerieWS/getBestValSerieRequest" message="tns:getBestValSerie"/>
<output wsam:Action="http://ws/SerieWS/getBestValSerieResponse" message="tns:getBestValSerieResponse"/>
</operation>
<operation name="findRange">
<input wsam:Action="http://ws/SerieWS/findRangeRequest" message="tns:findRange"/>
<output wsam:Action="http://ws/SerieWS/findRangeResponse" message="tns:findRangeResponse"/>
</operation>
<operation name="edit">
<input wsam:Action="http://ws/SerieWS/edit" message="tns:edit"/>
</operation>
<operation name="getCategorias">
<input wsam:Action="http://ws/SerieWS/getCategoriasRequest" message="tns:getCategorias"/>
<output wsam:Action="http://ws/SerieWS/getCategoriasResponse" message="tns:getCategoriasResponse"/>
</operation>
<operation name="findConTitulo">
<input wsam:Action="http://ws/SerieWS/findConTituloRequest" message="tns:findConTitulo"/>
<output wsam:Action="http://ws/SerieWS/findConTituloResponse" message="tns:findConTituloResponse"/>
</operation>
</portType>
<binding name="SerieWSPortBinding" type="tns:SerieWS">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="remove">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="count">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="find">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="create">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getBestValSerie">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findRange">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="edit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getCategorias">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findConTitulo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="SerieWS">
<port name="SerieWSPort" binding="tns:SerieWSPortBinding">
<soap:address location="http://localhost:8080/SerieWS/SerieWS"/>
</port>
</service>
</definitions>